{{define row}}
<div class="mFormRow">
    <div class="mFormColumn">
        <label for={{$id}} class="mFormLabel">{{$label}}</label>
    </div>
    <div class="mFormColumn">
        {{include #$control, id => $id, name => $id }}
        <span class="mFormHint">{{$hint}}</span>
    </div>
</div>
{{/define}}

{{define textfield}}
<input id="{{$id}}" name="{{$name}}" />
{{/define}}

{{define button}}
<button name="{{$id}}" class="mFormButton maction" id="{{$id}}" type="button" data-manager="action:'{{$action|noescape}}'">
    {{$label}}
</button>
{{/define}}

<div name="{{$idForm}}_dialog" id="{{$idForm}}_dialog" title={{$title}}>
    <form style="width:100%;" name="{{$idForm}}" id="{{$idForm}}" method="POST">
        <div class='mFormContainer'>
            {{block container}}{{/block}}
        </div>
    </form>
    <div id="{{$idForm}}_buttons">
        {{block buttons}}{{/block}}
    </div>
</div>

{{var $idFormDialog = '#' . $idForm . '_dialog' }}
{{var $idFormButtons = '#' . $idForm . '_buttons' }}
{{var $idFormScripts = $idForm . '_scripts' }}
<div id={{$idFormScripts}} class="mScripts">
<script type="text/javascript">
    manager.onLoad[{{$idFormScripts}}] = function () {
            {{block onLoad}}{{/block}}
            $({{$idFormDialog}}).dialog({closed: false});
            $({{$idFormDialog}}).dialog('resize', {width: 'auto', height: 'auto'});
            $({{$idFormDialog}}).dialog({
                buttons: {{$idFormButtons}}, border: true, modal: {{$modal|noescape}}, doSize: true, onClose: function () {
                    $({{$idFormDialog}}).dialog('destroy', true);
                }
            });
    };

    manager.onSubmit[{{$idFormScripts}}] = function () {
        {{block onSubmit}}{{/block}}
        return result;
    };

    //-->
</script>
</div>